* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: transparent;
  font-size: calc(14px + 0.5vw);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}